html {
  font-family: 'Roboto', sans-serif;
}

.index-banner {
  background-image: url("../images/banner.jpg");
  min-height: 000px;
  background-size: cover;
  background-position: 50% 50%;
}

.tour-banner {
  background-image: url("../images/banner.jpg");
  min-height: 000px;
  background-size: cover;
  background-position: 50% 50%;
}

.pricing-banner  {
    background-image: url("../images/banner.jpg");
    min-height: 000px;
    background-size: cover;
    background-position: 50% 50%;
}

.banner-text {
  position: relative;
}

.nina {
  text-transform: uppercase;
}

h6 {
  color: #FF9000;
}

legend {
  color: #FF9000;
}

input {
  border-color: #049FD7;
}

fieldset {
  color: #049FD7;
  border-color: #FF9000;
}

header {
  background-color: #049FD7;
}

footer {
  background-color: #049FD7;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #FF9000;
}

.btn:hover {
  background-color: #049FD7;
  border-color: #049FD7;
}

.btn {
  background-color: #FF9000;
  border-color: #FF9000;
  color: #fff;
}


h1 {
  color: #049FD7;
}

h2 {
  color: #049FD7;
}

p {
  color: #049FD7
}

.contact-info {
  color: #049FD7
}

.banner-img {
  width: 100%;
}

.height {
  height: 32px;
  width: 32px;
}

small {
  color: #fff;
}

.aboutp {
  text-align: left;
}

.gstarterd {
  text-align: left;
}

.logo {
  height: 71px;
  transform: translateY(-11px);
}

.template-img {
  height: 250px;
}
